<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <h3>Application info</h3>
      <p>Bambam is a web service for organizing, sharing and streaming gene sequencing data.</p>

      <h3>FAQ</h3>
      <p>The Integrative Genomics Viewer (IGV) is a high-performance visualization tool for interactive exploration of large, integrated genomic datasets developed by the <%= link_to "Broad Institute", "http://www.broadinstitute.org/" %>. For instructions on how to download and install IGV, click <%= link_to "here", "http://www.broadinstitute.org/software/igv/download" %>.</p>

      <h3>About the ABC</h3>
      <p>Weill Cornell Medical College Applied Bioinformatics Core offering computational resources, full data lifecycle management and bioinformatics consulting for research and translational applications. Learn more about the ABC <%= link_to "here", "https://abc.med.cornell.edu/" %>.</p>
    </div>
  </div>
</div>
