# Environment variables used by the application

# Relative url
# Set if your application will use a sub-uri
#RAILS_RELATIVE_URL_ROOT

# Secret tokens
SECRET_TOKEN=
DEVISE_SECRET=

# Mailer options
# These need to be set for ActiveMailer to work
# MAILER_SENDER is the email address the app will send as
# MAILER_URL is the url used by ActionMailer views (include the sub-uri if needed)
MAILER_SENDER=
MAILER_URL=

# Database credentials
DB_USERNAME=
DB_PASSWORD=

# Allowed paths to tracks
ALLOWED_TRACK_PATHS=

# Bambam Admin
ADMIN_EMAIL=
ADMIN_PASSWORD=

# UCSC access
UCSC_USER_EMAIL=
UCSC_USER_PASSWORD=
