<div class="row fasta-form">
  <div class="large-12 columns">
    <div class="row collapse">
      <div class="small-10 columns">
        <input id="fasta-url" type="text" name="fasta-url" placeholder="Enter URL to an indexed fasta file to view track in embedded igv">
      </div>
      <div class="small-1 columns">
        <a href="#" class="button postfix fi-eye large launch-igv" data-fasta-url="true"></a>
      </div>
      <div class="small-1 columns">
        <a href="#" class="button postfix small cancel-fasta-form">Cancel</a>
      </div>
    </div>
  </div>
</div>
