<% if ENV['IGV_JS_PREDEFINED_GENOMES'].split(':').include? @track.genome %>
  <li><%= link_to "igv js", "#", class: 'igv-js-link launch-igv' %></li>
<% else %>
  <% fasta_form = render "fasta_form" %>
  <li>
    <%= link_to "igv js", "#", class: 'igv-js-link load-fasta-form', data: {form: fasta_form.gsub("\n", "")} %>
  </li>
<% end %>
