<% tracks.group_by{|track| track.project}.each do |project, tracks_array| %>
  <li class="tracks-project folder-open"><i class="icon-folder"></i>
    <%= link_to project.name, project_path(project) %>
    <span class="track-icon icon-key"><%= tracks_array.count%></span>
    <span class="owner-icon icon-key"><%= project.owner.handle %></span>
  </li>
  <ul class="tracks">
    <%= render tracks_array %>
  </ul>
<% end %>
