<% tracks.group_by{|track| track.project}.each do |project, tracks_array| %>
  <li>
    <div class="by-group">
      <i class="by-icon by-open"></i>
      <%= link_to project.name, project_path(project) %>

      <ul class="by-attrs">
        <li class="track-icon icon-key"><%= tracks_array.count %></li>
        <li class="owner-icon icon-key"><%= project.owner.handle %></li>
      </ul>
    </div>

    <ul class="tracks by-items">
      <%= render tracks_array %>
    </ul>
  </li>
<% end %>
