<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <h1>Edit track</h1>

    <%= render 'form' %>

    <%= link_to 'Cancel', @track, class: 'button tiny radius' %>
  </div>
</div>
