<% if @tracks.count > 0 %>
  $('#projects-and-tracks').html('<%= j render(partial: "tracks/tracks_by_projects", locals: {tracks: @tracks}) %>').highlight('<%= @filter %>');
<% else %>
  $('#projects-and-tracks').html('<li>No tracks found.</li>');
<% end %>
