<div class="row box">
  <div class="small-12 large-6 large-centered columns">
    <%= link_to 'New Track', new_track_path, class: "button tiny radius" %>
    <ul class="pricing-table">
      <li class="title">Tracks</li>
      <% @tracks.each do |track| %>
        <li class="bullet-item"><%= link_to track.name, track %></li>
      <% end %>
    </ul>
  </div>
</div>
