<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="panel">
      <% if @tracks.any? %>
        <ul class="no-bullet" id="projects-and-tracks">
          <% @tracks.group_by{|track| track.project}.each do |project, track_array| %>
            <li class="search-result">
              <%= link_to project.name, project_path(project) %>
              (owner: <%= project.owner.handle %>)
              [<%= pluralize(project.tracks.count, 'track') %>]
            </li>
            <ul>
              <%= render track_array %>
            </ul>
          <% end %>
        </ul>
      <% else %>
        <h5>You either have no projects or no tracks.</h5>
        <p>If you belong to a project, you can add tracks to the project edit page.</p>
        <p>If you don't belong to a project, please contact your administrator</p>
      <% end %>
    </div>
  </div>
</div>
