<div class="row">
  <div class="small-12 large-6 large-centered columns">
    <h1>New track</h1>

    <%= render 'form' %>

    <%= link_to 'Cancel', tracks_path, class: 'button tiny radius' %>
  </div>
</div>

