<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <h1>New track</h1>

      <%= render 'form' %>

      <%= link_to 'Cancel', tracks_path, class: 'button tiny radius' %>
    </div>
  </div>
</div>

