<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <h3>Datapaths</h3>
    <div id="new-datapath">
      <%= link_to "Create new datapath", new_datapath_path, id: "new-datapath-link", class: "button tiny radius", remote: true %>
    </div>

    <ul id="datapath-list" class="small-block-grid-1 medium-block-grid-2">
      <% if @datapaths.count > 0 %>
        <%= render @datapaths %>
      <% else %>
        <li id="no-datapaths">
          There are currently no datapaths in the system
        </li>
      <% end %>
    </ul>
  </div>
</div>
