<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="panel">
      <h3>Datapaths</h3>
      <% if @datapaths.count > 0 %>
        <ul class="no-bullet">
        <%= @datapaths.each do |datapath| %>
          <li><%= datapath.path %></li>
        <% end %>
        </ul>
      <% else %>
        <h5>There are currently no datapaths in the system</h5>
      <% end %>
    </div>
  </div>
</div>
