<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="panel">

      <h3>Datapaths</h3>
      <ul class="no-bullet" id="datapath-list">
        <% if @datapaths.count > 0 %>
          <%= render @datapaths %>
        <% else %>
          <li id="no-datapaths">
            There are currently no datapaths in the system
          </li>
        <% end %>
      </ul>

      <div id="datapath-form">
        <%= render 'form' %>
      </div>

    </div>
  </div>
</div>
