<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <%= link_to 'New Group', new_group_path, class: "button tiny radius" %>
    <div class="panel groups-list">
      <h3>Groups</h3>
      <ul class="no-bullet">
        <% @groups.each do |group| %>
          <% if can? :read, group %>
            <li><%= link_to group.name, group %> (owner: <%= group.owner.email %>)</li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>
