<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel">
      <div><%= @user.email %></div>
    </div>
    <%= link_to 'Edit', edit_user_registration_path(@user), class: 'button tiny radius' %>
    <%= link_to 'Back', users_path, class: 'button tiny radius' %>
  </div>
</div>
