<%= form_for Track.new, remote: true do |f|%>
  <div id="track-tree">
    <ul id="treeData" style="display: none;"></ul>
  </div>

  <div class="fields">
    <%= hidden_field_tag :project_id, @project.id  %>
  </div>

  <div class="actions">
    <%= submit_tag 'Submit', class: 'button tiny radius update-project-tracks' %>
    <%= link_to 'Cancel', "#", class: 'button tiny radius', id: 'cancel-edit-datapaths' %>
  </div>
<% end %>
