<li id="project_<%= project.id %>">
  <%= link_to project.name, project %>
  <span class="text-color-grey">
    <i class="admin-icon small" title="owner"></i>
    <%= project.owner.email %>
  </span>
</li>
