<% if can? :read, project %>
  <li id="project_<%= project.id %>">
    <%= link_to project.name, project %>
    <span class="text-color-grey">
      <i class="fi-sheriff-badge small" title="owner"></i>
      <%= project.owner.email %>
    </span>
  </li>
<% end %>
