<div class="row">
  <div class="small-12 medium-10 medium-centered columns">
    <div class="panel small-12 medium-5 columns">
      <h3>Edit project name</h3>
      <%= render 'form_name' %>

      <h3>Edit project users</h3>
      <%= render 'form_users' %>

      <%= link_to 'Cancel', @project, class: 'button tiny radius' %>
    </div>

    <div class="panel small-12 medium-offset-1 medium-6 columns">



      <h2>Add new track</h2>

      <%= render 'tracks/form' %>

    </div>
  </div>
</div>
