<% if @projects.count > 0 %>
  $('#project-list').html('<%= j render(@projects) %>');
<% else %>
  $('#project-list').html('<li>No matches. <%= link_to 'Clear filter.', projects_path, class: 'clear-projects-filter', remote: true %></li>');
<% end %>
