<div class="row">
  <div class="small-12 medium-6 medium-centered columns">
    <%= link_to 'New Project', new_project_path, class: "button tiny radius" %>
    <div class="panel">
      <h3>Projects</h3>
      <ul class="no-bullet">
        <% @projects.each do |project| %>
          <li>
            <%= link_to project.name, project %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
