<div class="row">
  <div class="small-9 small-centered columns">
    <h3>Forgot your password?</h3>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {method: :post}) do |f| %>
      <div>
        <%= f.email_field :email, placeholder: 'Email', autofocus: true %>
      </div>

      <div>
        <%= f.submit 'Send me reset password instructions', class: 'button tiny radius' %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
