.tour-icon {
  @extend .fi-info;
  color: $primary-color;
}

.trash-icon {
  @extend .fi-trash;
  color: $primary-color;
}

.track-icon {
  @extend .fi-paw;
}

.admin-icon {
  @extend .fi-crown;
}

.manager-icon {
  @extend .fi-key;
}

.owner-icon {
  @extend .fi-sheriff-badge;
}

.users-icon {
  @extend .fi-torsos;
}

.user-icon {
  @extend .fi-torso;
}

.datapath-icon {
  @extend .fi-anchor;
}

.edit-icon {
  @extend .fi-page-edit;
}

.invite-icon {
  @extend .fi-ticket;
}

.created-at-icon {
  @extend .fi-calendar;
}

.updated-at-icon {
  @extend .fi-clock;
}

.icon_key {
  padding-right: 1em;
}

.icon-key {
  &:before {
    padding-right: rem-calc(5);
  }
}
