.share-link-box {
  border-style: solid;
  border-width: thin;
  border-color: #A8A8A8;
  padding: rem-calc(15);
  word-wrap: break-word;
  margin-bottom: rem-calc(20);
}

.track-share-link {
  display: none;
}
