.copy-to-clipboard {
  font-size: rem-calc(20);
  margin: rem-calc(0 10 0 0);
  color: $primary-color;
}

.clipboard-box {
  border-style: dashed;
  border-width: thin;
  border-color: $primary-color;
  background-color:  scale-color($info-color, $lightness: 80%);
  padding: rem-calc(5);
  word-wrap: break-word;
}

.share-link-box {
  border-style: solid;
  border-width: thin;
  border-color: #A8A8A8;
  padding: rem-calc(15);
  word-wrap: break-word;
  margin-bottom: rem-calc(20);
}

.service.button {
  padding: rem-calc(5 10);
  margin-bottom: 0;
  &.fi-eye:before {
    font-size: rem-calc(20);
    vertical-align: middle;
    margin-right: rem-calc(5);
  }
}

.width-limited-inline-list {
  @include inline-list;
  i {
    max-width: rem-calc(250);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      overflow: auto;
      text-overflow: initial;
    }
  }
}

.fi-download:before {
  margin-right: rem-calc(5);
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: default !important;
}

.text-panel-overhang {
  word-wrap: break-word;
}

a.edit-track {
  display: none;
}

a.done-track {
  display: none;
}

a.restore-track {
  display: none;
}

i.fi-plus {
  color: $primary-color;
}

i.margin-right {
  margin-right: rem-calc(5);
}

.has-tip {
  @extend .radius;
  font-weight: normal;
}

.has-tip-icon {
  @extend .has-tip;
  @extend .fi-info;
  color: $primary-color;
  border-bottom: none !important;
  font-size: rem-calc(10);
  vertical-align: top;
}

.button .has-tip-icon {
  @extend .right;
  color: $secondary-color;
  position: relative;
  right: -8px;
  top: -5px;
}

i.small-margin-left {
  margin-left: rem-calc(3);
}

.big-margin-right {
  margin-right: rem-calc(20) !important;
}

i.left-buffer {
  margin-left: rem-calc(15);
}

div.track-form-fields {
  display: none;
}

div.new-record {
  border-style: dotted;
  border-width: thin;
  border-color: $primary-color;
  padding: rem-calc(10);
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
}

div.edit-record {
  @extend div.new-record;
}

div.margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

li.headline {
  font-size: rem-calc(20)
}

li.sub-text {
  font-size: rem-calc(15)
}

li.search-result {
  @extend .medium-margin-bottom;
  @extend .text-color-grey;
  font-size: rem-calc(20);
}

span.small-text {
  font-size: rem-calc(10);
  margin-top: 0;
}

span.inline-timestamps {
  color: #A8A8A8 !important;
  margin-left: rem-calc(15);
}

.medium-margin-bottom {
  margin-bottom: rem-calc(10) !important;
}

.large-margin-bottom {
  margin-bottom: rem-calc(15) !important;
}

.medium-margin-top {
  margin-top: rem-calc(10) !important;
}

.medium-text {
  font-size: rem-calc(12) !important;
}

.margin-right {
  margin-right: rem-calc(10);
}

.margin-left {
  margin-left: rem-calc(10);
}

input.with-instructions {
  margin-top: rem-calc(5);
  margin-bottom: rem-calc(5)
}

.text-color-grey {
  color: #A8A8A8 !important;
}

.tour-link {
  margin-bottom: 5px;
  a {
    @extend .right;
    @extend .tour-icon;
    font-size: rem-calc(10);
    margin-right: 10px;
    &:before {
      font-size: rem-calc(20);
      margin-right: 5px;
      vertical-middle: middle;
    }
  }
}

.cloud-tag {
  li {
    @include label(
    $bg: $secondary-color,
    $radius: $global-radius
    );
    margin-bottom: rem-calc(10);
  }
}

.checkbox-link {
  @extend .pointer;
  @extend .text-color-grey;
}

.user-list-item {
  @extend .large-margin-bottom;
}

.line-through {
  text-decoration: line-through;
}

span.select2-hidden-accessible {
  display: none;
}

#regular-users {
  i {
    @extend .users-icon;
    @extend .large;
    @extend .margin-right;
  }
}

#read-only-users {
  @extend .text-color-grey;
  @extend #regular-users;
}

.error-red {
  background-color: red !important;
}
