$subdue-color: #a8a8a8;

.copy-to-clipboard {
  font-size: rem-calc(20);
  margin: rem-calc(0 10 0 0);
  color: $primary-color;
}

.clipboard-box {
  border-style: dashed;
  border-width: thin;
  border-color: $primary-color;
  background-color:  scale-color($info-color, $lightness: 80%);
  padding: rem-calc(5);
  word-wrap: break-word;
}

.indented-list {
  margin-left: $list-side-margin * 2;
}

.width-limited-inline-list {
  @include inline-list;
  i {
    max-width: rem-calc(250);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &:hover {
      overflow: auto;
      text-overflow: initial;
    }
  }
}

.true-inline-list {
  @include inline-list;
  margin-bottom: 0;
  li {
    color: inherit;
  }
  > li > * {
    display: inline-block;
  }
}

.keys-inline-list {
  @extend .true-inline-list;
  margin-left: 0 !important;
  li {
    margin-left: rem-calc(20);
    &:nth-of-type(1) {
      margin-left: 0;
    }
  }
}

.pointer {
  cursor: pointer;
}

.no-pointer {
  cursor: default !important;
}

.text-panel-overhang {
  word-wrap: break-word;
}

.service.button {
  padding: 5px 10px;
  margin-bottom: 0;
  &.fi-eye:before {
    font-size: rem-calc(20);
    vertical-align: middle;
    margin-right: rem-calc(5);
  }
}

.has-tip {
  @extend .radius;
  font-weight: normal;
}

.has-tip-icon {
  @extend .has-tip;
  @extend .fi-info;
  color: $primary-color;
  border-bottom: none !important;
  font-size: rem-calc(10);
  vertical-align: top;
}

.button .has-tip-icon {
  @extend .right;
  color: $secondary-color;
  position: relative;
  right: -8px;
  top: -5px;
}

div.new-record {
  border-style: dotted;
  border-width: thin;
  border-color: $primary-color;
  padding: rem-calc(10);
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
}

div.edit-record {
  @extend div.new-record;
}

li.headline {
  font-size: rem-calc(20)
}

li.sub-text {
  font-size: rem-calc(15)
}

li.search-result {
  @extend .medium-margin-bottom;
  font-size: rem-calc(20);
  color: $subdue-color;
}

.subhead-note {
  @extend .medium-text;
  @extend .large-margin-bottom;
  color: $subdue-color;
}

.subdue {
  color: $subdue-color;
}

.cloud-tag {
  @extend .inline-list;
  li {
    @include label(
      $bg: $secondary-color,
      $radius: $global-radius
    );
    margin-bottom: rem-calc(10);
  }
}

.line-through {
  text-decoration: line-through;
}

#timestamps {
  font-size: rem-calc(12);
  line-height: 1;
  color: $subheader-font-color;
  @extend .right;
}

span.inline-timestamps {
  color: #A8A8A8 !important;
  margin-left: rem-calc(15);
}

.top-bar-section {
  form {
    .button.expand {
      padding: 5px 0px;
    }
  }
}
