.copy-to-clipboard {
  font-size: rem-calc(20);
  margin: rem-calc(0 10 0 0);
  color: $primary-color;
}

.clipboard-box {
  border-style: dashed;
  border-width: thin;
  border-color: $primary-color;
  background-color:  scale-color($info-color, $lightness: 80%);
  padding: rem-calc(5);
  word-wrap: break-word;
}

.service.button {
  padding: rem-calc(5 10);
  &.fi-eye:before {
    font-size: rem-calc(20);
    vertical-align: middle;
    margin-right: rem-calc(5);
  }
}

.fi-download:before {
  margin-right: rem-calc(5);
}

.pointer {
  cursor: pointer;
}

.text-content {
  word-wrap: break-word;
}
