/* Styles to be removed */
.big-margin-right {
  margin-right: rem-calc(20) !important;
}

div.margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

span.small-text {
  font-size: rem-calc(10);
  margin-top: 0;
}

.medium-margin-bottom {
  margin-bottom: rem-calc(10) !important;
}

.large-margin-bottom {
  margin-bottom: rem-calc(15) !important;
}

.medium-margin-top {
  margin-top: rem-calc(10) !important;
}

.medium-text {
  font-size: rem-calc(12) !important;
}

.margin-left {
  margin-left: rem-calc(10);
}

.text-color-grey {
  color: #A8A8A8 !important;
}
