.share-track-form {
  display: none;
}

.ucsc-track-line {
  display: none;
}

i.large-calendar {
  font-size: rem-calc(25);
}

.expired {
  color: red;
}

.track-name {
  width: 100%;
  margin-bottom: rem-calc(32);
  h3 {
    margin-bottom: 0;
  }
  .project-name {
    font-size: rem-calc(14);
    color: $subheader-font-color;
  }
}

.label.genome {
  @extend .secondary;
  @extend .round;
  margin-left: rem-calc(5);
  padding: rem-calc(1 6 2);
  font-size: rem-calc(10);
  vertical-align: super;
}

ul#projects-and-tracks {
  @extend .no-bullet;
  li.tracks-project {
    @extend .medium-margin-bottom;
    font-size: rem-calc(20);
    span {
      color: $subdue-color;
      font-size: rem-calc(12);
    }
  }
  .tracks {
    @extend .no-bullet;
    ul {
      @extend .true-inline-list;
      margin-bottom: rem-calc(15) !important;
    }
  }
}

.tracks-project.folder-open i:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
