.allowed-track-paths {
  @extend label;
  font-size: .8rem;
  font-family: Courier;
  margin-bottom: rem-calc(10px);
  color: #A8A8A8;
  li {
    margin-left: 1rem;
    line-height: 1;
    cursor:default;
  }
}

.share-track-form {
  display: none;
}

.track-share-link {
  display: none;
}

.ucsc-track-line {
  display: none;
}

i.large-calendar {
  font-size: rem-calc(25);
}

.expired {
  color: red;
}

.track-name {
  @extend .left;
  margin-bottom: rem-calc(32);
  h3 {
    margin-bottom: 0;
  }
  .project-name {
    font-size: rem-calc(14);
    color: $subheader-font-color;
  }
}

.label.genome {
  @extend .secondary;
  @extend .round;
  margin-left: rem-calc(5);
  padding: rem-calc(1 6 2);
  font-size: rem-calc(10);
  vertical-align: super;
}
