.share-track-form {
  display: none;
}

.ucsc-track-line {
  display: none;
}

i.large-calendar {
  font-size: rem-calc(25);
}

.expired {
  color: red;
}

.track-info {
  width: 100%;
  margin-bottom: rem-calc(32);
}

.label.genome {
  @extend .secondary;
  @extend .round;
  margin-left: rem-calc(5);
  padding: rem-calc(1 6 2);
  font-size: rem-calc(10);
  vertical-align: super;
}

.igv-js-link {
  @extend .fi-eye;
  @extend .button;
  @extend .tiny;
  @extend .radius;
  @extend .service;
  margin-bottom: rem_calc(20);
}

#create-share-links {
  margin-top: rem-calc(10);
  margin-bottom: rem-calc(10);
}

#share-links-list {
  margin-bottom: rem-calc(50);
}
