<div id="timestamps">
  <div class="created-at" title="Created at">
    <%= local_time_ago(record.created_at, class: 'created-at-icon icon-key') %>
  </div>
  <div class="updated-at" title="Updated at">
    <%= local_time_ago(record.updated_at, class: 'fi-clock icon-key') %>
  </div>
</div>
