<div class="row">
  <div class="small-9 small-centered columns">
    <h3>Account cancelation instructions</h3>

    <p>Please email <%= mail_to ENV['ADMIN_EMAIL'] %> to cancel your account</p>
  </div>
</div>

